<%- include('header.ejs') %>

    <main>

        <%- include('addShoppingItem.ejs') %>

        <%- include('error.ejs') %>

        <%- include('shoppingList.ejs') %>
    </main>

<%- include('footer.ejs') %>
