<% if ( Object.keys(items).length > 0) { %>
    <div class="main">
    <ul class="list-group">
        <% for ( const itemName in items ) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= itemName %>
                <span class="badge badge-primary badge-pill"><%= items[itemName] %></span>
                <span class="card__actions">
                    <!-- <i class="fas fa-minus-square"></i>
                    <i class="fas fa-plus-square"></i>
                    <i class="fas fa-trash-alt"></i> -->
                    <form id="decForm" action="/shopping/dec" method="POST">
                        <input type="hidden" name="item" value="<%= itemName %>" />
                        <button type="submit"><i class="fas fa-minus-square"></i>Decrement</button>
                    </form>
                    <form id="incForm" action="/shopping/inc" method="POST">
                        <input type="hidden" name="item" value="<%= itemName %>" />
                        <button type="submit"><i class="fas fa-plus-square"></i>Increment</button>
                    </form>
                    <form id="rmForm" action="/shopping/rm" method="POST">
                        <input type="hidden" name="item" value="<%= itemName %>" />
                        <button type="submit"><i class="fas fa-trash-alt"></i>Remove</button>
                    </form>
                </span>
            </li>
            <% } %>
    </ul>
</div>
<% } else { %>
    <h1>No shopping items found!</h1>
<% } %>
